[Unit]
Description=My camectapi
After=multi-user.target
[Service]
User=administrator
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/administrator/camect/camectapi.py
[Install]
WantedBy=multi-user.target



